<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<header>
  <nav class="main-nav">
    <div class="search-bar-wrapper">
      <label class="search-bar">
        <input type="text" placeholder="search...">
      </label>
      <button class="search-button">
        <img src="<%= require('./images/magnify.svg') %>" alt="search-icon" id="search"/>
      </button>
    </div>
  </nav>
</header>

<section class="main-content">
  <div>
    <h1>Seoul, South Korea</h1>
    <h3 class="light-grey small-text"><span>Friday 19 July 2024</span> | <span>15:25</span></h3>
  </div>
  <div class="flex">
    <div>
      <img src="<%= require('./images/rain.svg') %>" alt="weather-pouring" class="large-weather-img">
      <span class="large-temp-text">29&deg;C</span>
    </div>
    <div class="flex-column">
      <h3 class="medium-text">Broken clouds</h3>
      <p class="light-grey small-text">Feels like 35&deg;C</p>
      <p class="light-grey small-text">Moderate breeze</p>
    </div>
  </div>
  <div class="stats-grid">
    <div>
      <span class="light-grey small-text">Wind</span>
      <div class="wind-container">
        <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="wind-arrow">
        <span class="medium-text">6m/s</span>
      </div>
    </div>
    <div>
      <span class="light-grey small-text">Humidity</span>
      <span class="medium-text">84%</span>
    </div>
    <div>
      <span class="light-grey small-text">UV index</span>
      <div class="medium-text">2</div>
    </div>
    <div>
      <span class="light-grey small-text">Visibility</span>
      <span class="medium-text">10km</span>
    </div>
    <div>
      <span class="light-grey small-text">Cloudiness</span>
      <span class="medium-text">75%</span>
    </div>
    <div>
      <span class="light-grey small-text">Chance of rain</span>
      <span class="medium-text">43%</span>
    </div>
    <div>
      <span class="light-grey small-text">Sunrise</span>
      <span class="medium-text">05:25</span>
    </div>
    <div>
      <span class="light-grey small-text">Sunset</span>
      <span class="medium-text">19:50</span>
    </div>
    <div>
      <span class="light-grey small-text"></span>
      <span class="medium-text"></span>
    </div>
  </div>
  <div class="bottom-wrapper">
    <h1>Weekly Forecast</h1>
    <div class="weekly">
      <div class="day">
        <div>Saturday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/rain.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Sunday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/cloudy.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Monday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/fog.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Tuesday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/partly-cloudy-day.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Wednesday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/clear-day.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Thursday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/clear-night.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
      <div class="day">
        <div>Friday</div>
        <div class="mini-weather-container">
          <img src="<%= require('./images/wind.svg') %>" alt="Moderate rain" class="mini-weather-icon">
          <span>24&deg;C</span>
        </div>
        <div class="light-grey">21&deg;C</div>
        <div class="wind-container">
          <img src="<%= require('./images/arrow-up-thin.svg') %>" alt="wind-direction" class="mini-wind-arrow">
          <span>6</span>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>